<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%t] [%c] - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <root level="info">
            <appender-ref ref="Console"/>
        </root>
    </Loggers>
</Configuration>